<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Powerups</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Go it alone</string>
			<key>Description</key>
			<string>No powerup equipped!</string>
			<key>Cost</key>
			<integer>0</integer>
			<key>Image</key>
			<string>card.png</string>
			<key>Unlocked</key>
			<true/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Double Health</string>
			<key>Description</key>
			<string>Lorem ipsum dolor sit amet!</string>
			<key>Cost</key>
			<integer>1000</integer>
			<key>Image</key>
			<string>card.png</string>
			<key>Unlocked</key>
			<false/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Light Feet</string>
			<key>Description</key>
			<string>Lorem ipsum dolor sit amet!</string>
			<key>Cost</key>
			<integer>1000</integer>
			<key>Image</key>
			<string>card.png</string>
			<key>Unlocked</key>
			<false/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bigger Bounce</string>
			<key>Description</key>
			<string>Lorem ipsum dolor sit amet!</string>
			<key>Cost</key>
			<integer>3000</integer>
			<key>Image</key>
			<string>card.png</string>
			<key>Unlocked</key>
			<false/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Low Gravity</string>
			<key>Description</key>
			<string>Lorem ipsum dolor sit amet!</string>
			<key>Cost</key>
			<integer>5000</integer>
			<key>Image</key>
			<string>card.png</string>
			<key>Unlocked</key>
			<false/>
		</dict>
		<dict>
			<key>Name</key>
			<string>DUBSTEP Mode</string>
			<key>Description</key>
			<string>Lorem ipsum dolor sit amet!</string>
			<key>Cost</key>
			<integer>10000</integer>
			<key>Image</key>
			<string>card.png</string>
			<key>Unlocked</key>
			<false/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Moneybags</string>
			<key>Description</key>
			<string>Lorem ipsum dolor sit amet!</string>
			<key>Cost</key>
			<integer>5000</integer>
			<key>Image</key>
			<string>card.png</string>
			<key>Unlocked</key>
			<false/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Blue Devil</string>
			<key>Description</key>
			<string>Lorem ipsum dolor sit amet!</string>
			<key>Cost</key>
			<integer>100</integer>
			<key>Image</key>
			<string>card.png</string>
			<key>Unlocked</key>
			<false/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Pink Devil</string>
			<key>Description</key>
			<string>Lorem ipsum dolor sit amet!</string>
			<key>Cost</key>
			<integer>100</integer>
			<key>Image</key>
			<string>card.png</string>
			<key>Unlocked</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
