<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict>
		<key>IAP_1000soul</key>
		<dict>
			<key>Count</key>
			<integer>10000</integer>
			<key>Name</key>
			<string>souls_collected</string>
		</dict>
		<key>IAP_5000soul</key>
		<dict>
			<key>Count</key>
			<integer>20000</integer>
			<key>Name</key>
			<string>souls_collected</string>
		</dict>
		<key>IAP_10000soul</key>
		<dict>
			<key>Count</key>
			<integer>50000</integer>
			<key>Name</key>
			<string>souls_collected</string>
		</dict>
		<key>IAP_50000soul</key>
		<dict>
			<key>Count</key>
			<integer>100000</integer>
			<key>Name</key>
			<string>souls_collected</string>
		</dict>
		<key>IAP_100000soul</key>
		<dict>
			<key>Count</key>
			<integer>200000</integer>
			<key>Name</key>
			<string>souls_collected</string>
		</dict>
	</dict>
</dict>
</plist>
