<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>die1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 7}, {48, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 61}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {48, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>die2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {50, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 67}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{50, 0}, {50, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>die3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {50, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 69}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 0}, {50, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>die4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 70}</string>
			<key>spriteSourceSize</key>
			<string>{63, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 0}, {63, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>die5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 74}</string>
			<key>spriteSourceSize</key>
			<string>{64, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{219, 0}, {64, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>die6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 81}</string>
			<key>spriteSourceSize</key>
			<string>{64, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 0}, {64, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fall1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {48, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{48, 65}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 0}, {48, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fall2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {48, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{48, 63}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{401, 0}, {48, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fall3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {48, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{48, 63}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{451, 0}, {48, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fall4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 6}, {48, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 63}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 83}, {48, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fall5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {48, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{48, 59}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{50, 83}, {48, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fall6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {48, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 57}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 83}, {48, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fall_far1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {48, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 65}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 83}, {48, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fall_far2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {48, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 65}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 83}, {48, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fall_far3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {48, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 65}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 83}, {48, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fall_far4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {48, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 65}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 83}, {48, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fall_far5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {48, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 65}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 83}, {48, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fall_far6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {48, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 65}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 83}, {48, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 6}, {48, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 63}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 83}, {48, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 11}, {48, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{48, 59}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 150}, {48, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {48, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{48, 59}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{50, 150}, {48, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {48, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{48, 63}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 150}, {48, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {48, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{48, 63}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 150}, {48, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {48, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{48, 65}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 150}, {48, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>AnimDevil</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>AnimDevil</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>